@mixin nonselectable() {
  -webkit-touch-callout: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;                         
}
  
body {
  background: rgb(130, 123, 123);
  margin: 0px;
}

// Home Page
.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
}

.each-game-box {
  display: flex;
  flex-direction: column;
  margin: 0px 50px 25px;
}

.each-game-title {
  align-self: center;
  font-size: 40px;
  margin-bottom: 5px;
  @include nonselectable;
}

.each-game {
  align-self: center;
  height: 300px;
  width: 300px;
  border: 1px solid black;
  @include nonselectable;
}
// Header
.default-header {
  border-bottom: white 2px solid;
  background: rgb(82, 52, 52);
  color: white;
  font-size: 5em;
  letter-spacing: 2px;
  text-align: center;
}

.nav-bar {
  height: 1.40em;
  background-color: rgb(150, 71, 71);
}

.nav-button-container {
  float: right;
  margin-right: 20px;
}

.nav-buttons {
  background-color: rgb(53, 33, 33);
  color: white;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  @include nonselectable;
  display: inline-block;

    &:hover {
      box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24);
      opacity: .90;
      border-color: rgb(0, 0, 0);
      cursor: grab;
      color: rgb(202, 146, 196);
      }

    &:active {
      opacity: 1;
      transform: scale(1.25) translateY(5%);
    }
}

.home-button {
  margin-left: 50px;
}

// Logo
.logo {
  height: 75px;
  width: 75px;
  border-radius: 500px;
  float: left;
  margin-top: 8px;
  position: absolute;
  margin-left: 45px;
}

// Sudoku styles
.sudokuHeader {
  text-align: center;
}
  
.sudokuSubmit {
  text-align: center;
}
  
.sudokuNumbers {
  text-align: center;
}
  
.sudokuBoard {
  width: 306px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto ;
  grid-template-rows: auto auto auto auto auto auto auto auto auto ;
  margin: auto;
}
  
.sudokuSquare {
  border: 1px solid #999;
  float: left;
  font-size: 22px;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  background: #fff;
}
  
.sudokuSquare:hover {
  cursor: default;
}
    
.sudokuSquare:focus {
  outline: none;
}
  
.sudokuSquare[id$="2"] {
  border-right: 2px solid black;
}
  
.sudokuSquare[id$="5"] {
  border-right: 2px solid black;
}
  
.sudokuSquare[id^="2"] {
  border-bottom: 2px solid black;
}
  
.sudokuSquare[id^="5"] {
  border-bottom: 2px solid black;
}

 // Checker Styles
 .checkers-board {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto ;
  grid-template-rows: auto auto auto auto auto auto auto auto ;
  margin: auto;
  justify-content: center;
}

.checkers-square {
  display: grid;
  justify-content: center;
  align-content: center;
  border: 1px solid black;
  float: left;
  font-size: 22px;
  line-height: 34px;
  height: 7vmin;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 7vmin;
  color: white;
}

.checkers-square.black {
  background: black;
}

.checkers-square.red {
  background: red;
}

.checkers-square.selected {
  background: blue;
}

.player-one-piece {
  border: 1px solid rgb(148, 148, 148);
  background: black;
  border-radius: 50%;
  width: 4.50vmin;
  height: 4.50vmin;
}

.player-two-piece {
  border: 1px solid rgb(0, 0, 0);
  background: rgb(247, 234, 234);
  border-radius: 50%;
  width: 4.50vmin;
  height: 4.50vmin;
}
