// Home Page

// Header
.default-header {
    background: black;
    color: white;
    font-size: 5em;
    margin: -8px;
    letter-spacing: 2px;
    text-align: center;
}

// Logo
.logo {
    margin-left: 45px;
    height: 75px;
    width: 75px;
    border-radius: 500px;
    float: left;
    margin-top: 8px;
    position: absolute;
}

// Sudoku styles
.sudokuHeader {
    text-align: center;
}
  
.sudokuSubmit {
    text-align: center;
}
  
.sudokuNumbers {
    text-align: center;
}
  
.sudokuBoard {
    margin: auto;
    width: 306px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto ;
    grid-template-rows: auto auto auto auto auto auto auto auto auto ;
}
  
.sudokuSquare {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 22px;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}
  
.sudokuSquare:hover {
    cursor: default;
}
    
.sudokuSquare:focus {
    outline: none;
}
  
div[id$="2"] {
    border-right: 2px solid black;
}
  
div[id$="5"] {
    border-right: 2px solid black;
}
  
div[id^="2"] {
    border-bottom: 2px solid black;
}
  
div[id^="5"] {
    border-bottom: 2px solid black;
}

// @keyframes pulse {
//     0% {
//       transform: translate3d(0, 0, 0);
  
//     }
    
//     25% {
//       transform: translate3d(100px, 0, 0);
//       transform: scale(1.50) translateY(5%);
//     }
//   }
  
//   .pulse {
//     animation: pulse 1000ms;
//     animation-iteration-count: infinite;
//   }